*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 148, 223);
}
#nav-bar{
    padding: 15px;
    position: sticky;
    color: rgb(64, 48, 136);
    background-color: rgb(95, 88, 88);
}
.space{
    height:70vh;
}
#nav-bar a{
    text-decoration: none;  
    cursor: pointer;
    color: white;
    
}
a:active{
    color: green;
}

#mimipicture{
    display: flex;
    flex-direction: column;
}
#mimipicture img{
    /* max-width: 200px; */
    width: 200px;
    border-radius: 50%;
    margin-right: 15px;


}

footer{
    background: turquoise;
}