*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    position: relative;
    margin: auto;
}
#top-stick{
    position: sticky;
    left: 100%;
    top: 300px;
    border: none;
    background: rgb(223, 148, 223);
    padding: 20px;
}
.space{
    min-height:100vh;
}
a{
    text-decoration: none;  
    cursor: pointer;
    color: rgb(223, 148, 223);
    
}
a:active{
    color: green;
}
.movey{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px #FF0000;
      
}


.icon{
    display: none;
}

/* header********************* */


/* nav************************************ */

.topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(64, 48, 136);
    background-color: rgb(95, 88, 88);
    padding: 15px;
    position: relative;
}
#nav-bar{
    position: sticky;
    top: 0px;
    
}

   /*****************************section*************** */


/* about******* */ 
#home{
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 40vh;
}
#home img{
    
    width: 150px;
    height: 200px;
    border-radius: 50%;
    margin-right: 15vh;
    border: rgb(223, 148, 223) 5px solid;
}
#home h1{
    /* text-shadow: 2px 2px 8px #fff; */
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 42px;
    margin-bottom: 7px;
}
.project-linky{
    margin-top: 35px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: rgb(223, 148, 223);
    color: black;
}

.project-linky:hover{
    cursor: pointer;
    color: white;
    background: crimson;
}
#inform h1{
    color: chartreuse;
    text-shadow: 0.4rem 0.3rem 0.7rem steelblue;
}




/* ************************QUALITIES************************** */



.quality-container{
    /* border: springgreen 10px solid; */
    text-align: center;
    padding-bottom: 15px;
}
.qualities{
    border: 3px solid black;
    max-width: 200px;
    height: 200px;
    padding: 15px;
    display: inline-grid;
}
.fas{
    width:100px ;
    border-radius: 50%;
    margin-right: 10px;
    color: rgb(223, 148, 223);;
}
/* ********************contact********** */


#contact{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    /* border: black 3px solid; */
}
form{
    border: rgb(223, 148, 223) 5px solid;
    max-width: 400px;
    max-height: 500px;
    align-self: center;
    text-align: center;
    margin-top: 15px;
    padding: 15px;
}

.bala{
    margin-bottom: 15px;
    margin-top: 15px;
}

#submit-me{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition-property: background;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    background: rgb(223, 148, 223);
    
}
#submit-me:hover{
    background: grey;
    color:white;
    
}
/*************moments*****************/

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: masonry;
}
  .m {
    width: 400px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgb(90 84 84 / 47%);
    -webkit-box-shadow: 0 0 5px 1px rgb(90 84 84 / 47%);
    -moz-box-shadow: 0 0 5px 1px rgba(90,84,84,.47);
    object-fit: cover;
  }
/* project******** */
#project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#project-box{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 600px;
    align-content: center;

}
#project a{
    color: black;
}

#project img{
    width: 400px;
    height: 500px;
    border: none;
}

#linky{
    align-self: center;
}
 #project-box .adjust{
    width: 100px;
    height: 50px;
    background-color:rgb(223, 148, 223) ;
    
}
/* .projectbox .adjust{
    align-content: center;
    text-align: center;
    justify-content: center;
} */



/* footer********************** */
footer{
    background: rgb(95, 88, 88);
    text-align: center;
    padding: 20px;
}
.fas{
    width:100px ;
    border-radius: 50%;
    margin-right: 10px;
    color: rgb(223, 148, 223);;
}


/* ******************MEDIA MEDIA********** */


@media screen and (max-width: 922px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }

    .m {
        width: 100px;
        height: auto;
}
/* } */


/* @media screen and (max-width: 900px) { */
    #project-box{
        display: block;
        height: fit-content;
    }
    #project img{
        width: 200px;
        margin: auto;
    }

    /* ******grid moment******* */
    /* .grid-container {
        display: inline-block;
        padding: 10px;
        margin: auto;
        width: fit-content;
      } */
    /* navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide links inside the navigation menu  */
  .topnav #nav-bar {
    display: none;
  }
  
  /* navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /*  hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /*  active link  */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
}