@import url();

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: black;
    background-color: white;
    /* -webkit-user-select: none; */
}
/* *******************GENERAL MARKET*********************************** */

/* .space{
    min-height:100vh;
} */
a{
    text-decoration: none;  
    cursor: pointer;
    color: rgb(223, 148, 223);
    
}
.movey{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px #FF0000;
      
}

/* *************NAV BAR & LOGO********************** */
  .navbar{
    background-color: grey;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    color: white;
    
  }
  .navbar-links ul{
      display: flex;

  }
  .navbar-links li{
      list-style: none;
      
  }

  .navbar-links li a{
    text-decoration: none;
    /* color: white;
    margin: 10px; */
    padding: 2rem;
  }

  .icon{
    display: none;
}

  /* .navbar-toggle .toggle-button{
      width: 30px;
      height: 20px;
      position: absolute;
      top: 0.75rem;
      right: 1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between; 
  }

  .toggle-button .bar{
      height: 30px;
      width: 100%;
      background-color: white;
  }
  span{
      margin: 3px;
  } */



  /* ***************HEADER HOME********************************** */
  #home{
    display: flex;
    width: 70vw;
    height: 100vh;
    margin: auto;
    padding-top: 30vh;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    /* border: rgb(223, 148, 223) 5px solid; */

  }
  #home img{
      width: 150px;
      height: 200px;
      border-radius: 50%;
      border: rgb(223, 148, 223) 5px solid;
      box-shadow: none;
  }

  #home h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 42px;
    margin-bottom: 7px;
  }
  .header-name{
      padding: 2rem;
  }

  .project-linky{
    margin-top: 35px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: rgb(223, 148, 223);
    color: black;
    }

    .project-linky:hover{
    cursor: pointer;
    color: white;
    background: crimson;
    }  
/* *******************ABOUT AND SKILLS********************** */
#about{
    height: 100vh;
}
.about-me{
    width: 70vw;
    margin: auto;
    padding-top: 15px;
  }
    /* ************************QUALITIES************************** */



.quality-container{
    text-align: center;
    padding-bottom: 15px;
}
.qualities{
    border: 3px solid black;
    max-width: 200px;
    height: 200px;
    padding: 15px;
    display: inline-grid;
}
.fas{
    width:100px ;
    border-radius: 50%;
    margin-right: 10px;
    color: rgb(223, 148, 223);;
}

/* ******************MOMENTS********************** */

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: masonry; */
}
  .grid-image {
    width: 400px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgb(90 84 84 / 47%);
    -webkit-box-shadow: 0 0 5px 1px rgb(90 84 84 / 47%);
    -moz-box-shadow: 0 0 5px 1px rgba(90,84,84,.47);
    object-fit: cover;
  }
/* ******************PROJECTS************************ */

#project{
    height: 100vh;
}

/* *********************CONTACT ME********************* */

#contact{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    width: 100vw;
    height: 100vh;
    /* border: black 3px solid; */
}
form{
    border: rgb(223, 148, 223) 5px solid;
    max-width: 400px;
    max-height: 500px;
    align-self: center;
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

.bala{
    margin-bottom: 15px;
    margin-top: 15px;
}

#submit-me{
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    transition-property: background;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    background: rgb(223, 148, 223);
    
}
#submit-me:hover{
    background: grey;
    color:white;
    
}
/* *********************FOOTER********************* */

footer{
    background: rgb(95, 88, 88);
    text-align: center;
    /* padding: 20px; */
    color: white;
    width: 100vw;
}
.fas{
    width:100px ;
    border-radius: 50%;
    margin-right: 10px;
    color: rgb(223, 148, 223);;
}